*{
    box-sizing: border-box;
}
body{
    background-color: #eef9bf;
    font-family: 'Roboto', sans-serif;
}
.nome-jogo{
    color: #75B79E;
    font-size: 56px;
    display: flex;
    justify-content: center;
    line-height: 66px;
    letter-spacing: -0.004em;
    margin: 40px 0 47px 0;
}
.cartas-conteiner{
    padding: 0 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.vira-carta{
    background-color: transparent;
    width: 117px;
    height: 146px;
    border: 1px solid #eef9bf;
    margin: 15px 10px 34px 10px;
    perspective: 1000px;
    
}
.carta{
    width: 100%;
    height: 100%;
    background-color: #a7e9af;
    border: 1px solid #99cea8;
    border-radius: 5px;
    box-shadow: 1px 1px 0 rgba(50, 143, 78, 0.397);
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.carta-frente{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    align-items: center;
    padding: 24px 7px 22px 10px;
}
.carta-verso{
    width: 100%;
    height: 100%;
    padding: 24px 7px 22px 10px;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.carta-frente img{
    width: 100px;
    height: 100px;
}
.carta-verso img{
    width: 100px;
    height: 100px;
}
.carta:active{
    transform: scale(0.97);
    transition: transform .2s;
}
/* .vira-carta:hover .carta{
    transform: rotateY(180deg);
} */
.virar-carta .carta{
    transform: rotateY(180deg);
}

@media (max-width: 610px){
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nome-jogo{
        
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: -0.004em;
        margin: 40px 11px 47px 12px;
    }
    .cartas-conteiner{
        display: flex;
        flex-direction: column;
    }
}